.top{
    display: flex;
    background: #3498DB;
    justify-content: center;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 15px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

    & .mainLogo{
        font-weight: bold;
    }

    & .logo{
        font-family: 'Nunito';
        color: #eee;
    }
}

body{
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 2vh;
    
}

.dados{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    width: max-content;
    margin-top: 5vh;
    border: 2px solid #3498DB;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 25px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.dados .title{
        font-size: 2rem;
        margin-left: 1vw;
        font-weight: 600;
        color: #2C3E50;
        font-family: 'Nunito';
}

.dados .dadosCadastrais{
    display: flex;
    flex-direction: column;
    gap: 1.5vh 0;
    padding: 1rem;
    align-items:flex-start;
    text-align: left;

    & label{
        display: flex;
        gap: 10px;
    }

    & .dadosCadastraisTitle{
        font-weight: bold;
        
    }

}

.privacyPolicy{
    border: 2px solid #3498DB;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 25px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    margin-top: 5vh;
    margin-left: 30%;
    margin-right: 30%;
    
    & .policy{
        display: flex;
        flex-direction: column;
        text-align:justify;
        padding: 1em;
        gap: 10px;
    }

    & .title{
        font-size: 2rem;
        margin-left: 1vw;
        font-weight: 600;
        color: #2C3E50;
        font-family: 'Nunito';
    }
    
}

.footer{
    margin-top: 5vh;
    display: flex;
    gap: 10vw;
    justify-content: center;
    background: #D4D8DC;
    font-family: 'Nunito';
    box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}