* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 2vh 5vw;
    font-family: 'Nunito', sans-serif;
    line-height: 1.6;
}

/* Header responsivo */
.top {
    display: flex;
    background: #2980b9;
    justify-content: space-around;
    padding: 1rem;
    border-radius: 0 0 12px 12px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 15px 15px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.top .logoImg img{
    width: 100px;
    height: 100px;
}

.top .mainLogo {
    font-weight: bold;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
}

.top .logo {
    font-family: 'Nunito';
    color: #eee;
    text-align: center;
}

/* Tablets (768px e abaixo) */
@media screen and (max-width: 768px) {
    body {
        padding: 1vh 3vw;
    }
}

/* Smartphones (480px e abaixo) */
@media screen and (max-width: 480px) {
    body {
        padding: 1vh 2vw;
    }

    .top {
        padding: 0.75rem;
    }
}

/* Telas muito pequenas (320px e abaixo) */
@media screen and (max-width: 320px) {
    body {
        padding: 1vh 1vw;
    }
}